<ion-view view-title="Login">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="login()">login</button>
        </div>
    </ion-content>
</ion-view>
